@charset "utf-8";
html {
  font-size: 62.5%;
  -webkit-user-select: none;
}
body {
  margin: 0;
  padding: 0;
  webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
  font-family: Arial, Roboto, PingFang SC, Droid Sans, Hiragino Sans GB;
  font-size: 1.4rem;
  overflow-x: hidden;
  color: #333;
  background: #fff;
}
img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
} //Disable the popup menu when you long Press the page ( under the IOS valid )
html,
body,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //touch-action: none;
}
::-webkit-scrollbar {
  display: none;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
input,
textarea {
  position: relative;
  z-index: 2;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  outline: none;
  font-size: 1.5rem;
  font-family: Arial, Roboto, PingFang SC, Droid Sans, Hiragino Sans GB;
}
select {
  outline: none;
  border: 0;
  appearance: none;
}
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important; /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 561px) {
  html {
    font-size: 75% !important; /* 17.44÷16=109% */
  }
}
